@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.logo img {
    width: 250px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

ul {
    list-style-type: none;

    a {
        text-decoration: none;
    }
}

.icon {
    width: 50px;
}

//Elementi comuni
.main-btn {
    border: transparent;
    padding: 15px;
    border-radius: 35px;
    color: white;
    background-color: $buttonColor;
    font-weight: bold;
    font-size: 20px;
}

.apply-btn {
    border: transparent;
    padding: 15px;
    border-radius: 35px;
    color: $brandColor;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.brand-btn {
    background-color: $brandColor;
}

.search-bar {
    padding: 20px;
    border-radius: 30px;
    border: transparent;
    width: 300px;
}

.category-tag {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 5px;
    text-transform: uppercase;
    font-size: 13px;
}