* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

.logo img {
    width: 250px;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}